@use '../helpers'as h;

header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .nav {
        display: none;

        @include h.responsive(largescreen) {
            background-color: #000000a3;
            padding: 1em 0 0 0;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .ul {
                display: flex;
                justify-content: space-evenly;
                justify-content: center;
                align-items: center;
                padding: 0;
                list-style: none;
                column-gap: 1em;

                .icon-items {
                    svg {
                        height: 0.5em;
                    }
                }

                a,
                .language {
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: h.$pink;
                    text-transform: uppercase;
                }

                .language {
                    font-weight: h.$bold;
                    margin-left: 1em;
                    margin-top: -0.2em;
                }
            }
        }
    }

    .nav-mobile {
        padding: 1em 0 0 0;
        background-color: #0000007a;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include h.responsive(largescreen) {
            display: none;
        }

        @include h.responsive(tabscreen) {
            background-position: 50% 80%;
        }

        @include h.responsive(tabscreenfive) {
            background-position: 50% 70%;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1em;
            margin: 0 auto;
        }

        .bp-logo {
            width: 12em;

            @include h.responsive(largescreen) {
                .bplogo {
                    padding: 0 5em 0 3em;
                }
            }
        }

        .floating-menu {
            margin-top: -1em;
            background: h.$dark;
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 4;
            width: 100%;
            height: 100vh;
            transition: left 0.26s linear;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            .ul {
                list-style: none;
                padding: 0;

                @include h.responsive(largescreen) {
                    display: flex;
                    justify-content: space-evenly;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    list-style: none;
                    column-gap: 1em;

                    .icon-items {
                        svg {
                            height: 0.5em;
                        }
                    }
                }

                a {
                    text-decoration: none;
                    color: h.$pink;
                    text-transform: uppercase;
                }
            }

            .nav-list {
                font-size: 1.3em;
                display: flex;
                flex-flow: column;
                align-items: center;
                row-gap: 1.5em;
                justify-content: center;
                padding-bottom: 2em;
            }

            .icon-list {
                display: flex;
                align-items: center;
                gap: 1em;
            }
        }

        .floating-menu-open {
            left: 0;
        }

        .language {
            font-size: 1.1rem;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: h.$bold;

            a {
                text-decoration: none;
                color: h.$pink;
            }
        }
    }
}