@use '../helpers'as h;

.mobile-banner {
    display: block;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    @include h.responsive(largescreen) {
        display: none;
    }
}

.desktop-banner {
    display: none;

    @include h.responsive(largescreen) {
        display: block;
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}

.hero-section {

    .for-mobile {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
        max-width: 100%;

        @include h.responsive(largescreen) {
            display: none;
        }
    }

    .for-desktop {
        display: none;

        @include h.responsive(largescreen) {
            display: block;
            position: fixed;
            max-width: 100%;
            top: 50%;
            left: 50%;
            z-index: -2;
            transform: translate(-50%, -50%);
        }
    }
}