@use '../helpers'as h;

.store-section {
    margin: 0 auto;

    .flex-center {
        color: h.$pink;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }

    .store-section-heading {
        color: h.$transparentwhite;
        text-align: center;
        font-size: 3rem;
        margin: 0 auto;
        font-weight: h.$medium;
        padding-top: 1em;

        @include h.responsive(largescreen) {
            font-size: 15rem;
            font-weight: h.$regular;
            position: absolute;
            padding-top: 6rem;
            right: 3rem;
        }

        @include h.responsive(tabscreenfour) {
            padding-top: 4rem;
            font-size: 6rem;
            font-weight: h.$medium;

        }
    }
}