@font-face {
  font-family: "Agatho";
  src: url(/assets/fonts/agatho/agatho_boldcaps.otf) format("opentype");
}
@font-face {
  font-family: "Library3am";
  src: url(/assets/fonts/library-3am/Library3am-5V3Z.otf) format("opentype");
}
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.background {
  background-image: url(/assets/images/homepage/background-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background: linear-gradient(180deg, rgba(222, 155, 214, 0.2) -11.75%, rgba(95, 147, 164, 0.2) 88.25%);
}

.ticker {
  display: flex;
  overflow: hidden;
  background: black;
  padding: 0.5em 0;
}
@media (min-width: 1000px) {
  .ticker {
    padding: 1.05em 0;
  }
}
@media (min-width: 610px) and (max-width: 980px) {
  .ticker {
    padding: 1em 0;
  }
}
.ticker .ticker-list {
  display: flex;
  animation: ticker 20s infinite linear;
  color: #E5E5E5;
  list-style: none;
  text-transform: uppercase;
  column-gap: 2em;
}
@media (min-width: 1000px) {
  .ticker .ticker-list {
    column-gap: 8em;
  }
}
.ticker .ticker-list .ticker-item {
  font-weight: 700;
  font-family: "Library3am", sans-serif;
  padding-left: 10em;
  font-weight: 500;
  font-size: 0.7rem;
  white-space: nowrap;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 10px #E5E5E5, 0 0 30px #27cdff, 0 0 40px #27cdff, 0 0 50px #27cdff, 0 0 70px #27cdff;
  animation: glow 1s ease-in-out infinite alternate;
}
@media (min-width: 1000px) {
  .ticker .ticker-list .ticker-item {
    font-size: 1.25rem;
    letter-spacing: 0.55rem;
  }
}
@media (min-width: 610px) and (max-width: 980px) {
  .ticker .ticker-list .ticker-item {
    font-size: 0.9rem;
  }
}

@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
.store-grid {
  padding: 0 3rem 3.5rem 3rem;
}
@media (min-width: 1000px) {
  .store-grid {
    padding-top: 3.5rem;
  }
}
.store-grid .store-cards {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 2em;
}
@media (min-width: 1000px) {
  .store-grid .store-cards {
    padding: 14em 0 3em 0;
  }
}
.store-grid .store-cards .store-card-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  flex-flow: column;
  margin: 0 auto;
}
.store-grid .store-cards .store-img {
  max-width: 83%;
  max-height: 83%;
  padding: 1.5em;
  background: rgba(241, 168, 187, 0.31);
}
.store-grid .store-cards .flex-center {
  color: #F3A8BA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  margin: 0 auto;
}

.music-link,
.store-link,
.video-link {
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #F3A8BA;
  padding: 0.5rem 1.4rem;
  color: #F3A8BA;
  text-decoration: none;
  font-size: 1.1rem;
  display: inline-block;
}

.video-link {
  margin-top: -5em;
}

.center-link {
  text-align: center;
}

.icon__icon {
  fill: rgba(229, 229, 229, 0.27);
}

@media (min-width: 1000px) {
  .glide__arrow {
    top: 65% !important;
  }
}

.menu-icon {
  cursor: pointer;
}

.close-icon {
  position: absolute;
  top: 0.5em;
  right: 0.6em;
  cursor: pointer;
}

.music .flex {
  color: #F3A8BA;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  margin: 0 auto;
}
.music .music-cards {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 3em;
}
@media (min-width: 1000px) {
  .music .music-cards {
    row-gap: 6em;
  }
}
.music .music-cards .music-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  flex-flow: column;
  margin: 0 auto;
}
.music .music-cards .music-card .music-img {
  max-height: 80%;
  max-width: 80%;
}
.music .music-cards .music-card .music-subheading {
  margin: 0.8em 0 1rem 0;
}
.music .music-cards .music-card .music-heading {
  font-family: "Agatho", serif;
  font-size: 1.5rem;
  line-height: 0;
  margin: 0 0 1rem 0;
}
@media (min-width: 1000px) {
  .music .music-cards .music-card .music-heading {
    font-size: 2rem;
    line-height: 1.7rem;
    padding-bottom: 0.1rem;
  }
}
.music .music-cards .music-card .music-heading .lang {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.7em;
}

.footer {
  padding-top: 1em;
  background: #080808;
}
.footer .footer-container {
  margin: 3em 2em 0em 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.3fr 1.4fr 0.3fr;
  gap: 0px 11px;
  grid-auto-flow: row;
  grid-template-areas: "source blackpink" "shows documentary" "content-disclaimer content-disclaimer" "designer designer";
}
.footer .footer-container .source {
  grid-area: source;
}
.footer .footer-container .blackpink {
  grid-area: blackpink;
  padding-bottom: 2em;
}
.footer .footer-container .shows {
  grid-area: shows;
}
.footer .footer-container .documentary {
  grid-area: documentary;
}
.footer .footer-container .content-disclaimer {
  margin-top: 2em;
  margin-bottom: 1em;
  grid-area: content-disclaimer;
}
@media (min-width: 720px) and (max-width: 1199px) {
  .footer .footer-container .content-disclaimer {
    padding: 1.5em 0;
  }
}
@media (min-width: 364px) and (max-width: 470px) {
  .footer .footer-container .content-disclaimer {
    padding-bottom: 1em;
  }
}
.footer .footer-container .designer {
  grid-area: designer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}
@media (min-width: 364px) and (max-width: 470px) {
  .footer .footer-container .content-disclaimer {
    margin-top: -0.5em;
  }
}
@media (min-width: 720px) and (max-width: 1199px) {
  .footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.4fr 1.1fr 0.5fr;
    grid-auto-columns: 1fr;
    gap: 19px 11px;
    grid-auto-flow: row;
    grid-template-areas: "source blackpink shows documentary" "content-disclaimer content-disclaimer content-disclaimer content-disclaimer" "designer designer designer designer";
  }
  .footer .footer-container .source {
    grid-area: source;
  }
  .footer .footer-container .blackpink {
    grid-area: blackpink;
  }
  .footer .footer-container .shows {
    grid-area: shows;
  }
  .footer .footer-container .documentary {
    grid-area: documentary;
  }
  .footer .footer-container .content-disclaimer {
    margin-top: 0;
    grid-area: content-disclaimer;
  }
  .footer .footer-container .designer {
    grid-area: designer;
    padding-bottom: 3em;
  }
}
@media (min-width: 1200px) {
  .footer .footer-container {
    margin: 4em 3.5em 2em 3.5em;
    display: grid;
    grid-template-columns: 0.9fr 0.9fr 1fr 0.8fr 0.6fr 2fr;
    grid-template-rows: 1.8fr 0.2fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas: "source blackpink shows documentary . content-disclaimer" "designer designer designer designer designer designer";
  }
  .footer .footer-container .source {
    grid-area: source;
  }
  .footer .footer-container .blackpink {
    grid-area: blackpink;
  }
  .footer .footer-container .shows {
    grid-area: shows;
  }
  .footer .footer-container .documentary {
    grid-area: documentary;
  }
  .footer .footer-container .content-disclaimer {
    margin-top: 0;
    grid-area: content-disclaimer;
  }
  .footer .footer-container .designer {
    grid-area: designer;
    display: flex;
    justify-content: center;
    padding-top: 2em;
  }
}
@media (min-width: 1000px) {
  .footer .footer-container {
    margin-bottom: 0;
  }
}
.footer .title {
  color: #B0B0B0;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
}
@media (min-width: 1000px) {
  .footer .title {
    font-size: 1rem;
  }
}
.footer .separator {
  width: 100px;
}
.footer p {
  margin-bottom: 0;
  text-transform: none;
  text-align: justify;
}
.footer .c {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
}
.footer .link,
.footer .content-disclaimer-body {
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #B0B0B0;
  text-decoration: none;
  font-size: 0.9rem;
}
@media (min-width: 1000px) {
  .footer .link,
.footer .content-disclaimer-body {
    font-size: 0.8rem;
  }
}

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #080808;
}
header .nav {
  display: none;
}
@media (min-width: 1000px) {
  header .nav {
    padding: 1em 0 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header .nav .ul {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    column-gap: 1em;
  }
  header .nav .ul .icon-items svg {
    height: 0.5em;
  }
  header .nav .ul a,
header .nav .ul .language {
    font-size: 1.1rem;
    text-decoration: none;
    color: #F3A8BA;
    text-transform: uppercase;
  }
  header .nav .ul .language {
    font-weight: 700;
    margin-left: 1em;
    margin-top: -0.2em;
  }
}
header .nav-mobile {
  padding: 1em 0 1em 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1000px) {
  header .nav-mobile {
    display: none;
  }
}
header .nav-mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin: 0 auto;
}
header .nav-mobile .bp-logo {
  width: 12em;
}
@media (min-width: 1000px) {
  header .nav-mobile .bp-logo .bplogo {
    padding: 0 5em 0 3em;
  }
}
header .nav-mobile .floating-menu {
  margin-top: -1em;
  background: #080808;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 4;
  width: 100%;
  height: 100vh;
  transition: left 0.26s linear;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
header .nav-mobile .floating-menu .ul {
  list-style: none;
  padding: 0;
}
@media (min-width: 1000px) {
  header .nav-mobile .floating-menu .ul {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    column-gap: 1em;
  }
  header .nav-mobile .floating-menu .ul .icon-items svg {
    height: 0.5em;
  }
}
header .nav-mobile .floating-menu .ul a {
  text-decoration: none;
  color: #F3A8BA;
  text-transform: uppercase;
}
header .nav-mobile .floating-menu .nav-list {
  font-size: 1.3em;
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 1.5em;
  justify-content: center;
  padding-bottom: 2em;
}
header .nav-mobile .floating-menu .icon-list {
  display: flex;
  align-items: center;
  gap: 1em;
}
header .nav-mobile .floating-menu-open {
  left: 0;
}
header .nav-mobile .language {
  font-size: 1.1rem;
  text-decoration: none;
  color: #F3A8BA;
  text-transform: uppercase;
  font-weight: 700;
}

.music {
  padding: 0.05em 1em 5em 1em;
}
.music .music-title {
  color: rgba(229, 229, 229, 0.06);
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0 0.5em 0;
}
@media (min-width: 1000px) {
  .music .music-title {
    font-size: 8rem;
    font-weight: 400;
    margin: 0.7em 0 0.7em 0;
  }
}
@media (min-width: 1140px) {
  .music .music-title {
    font-size: 6rem;
    font-weight: 500;
  }
}

/*# sourceMappingURL=music.css.map */
