@use '../helpers'as h;

@font-face {
    font-family: 'Agatho';
    src: url(/assets/fonts/agatho/agatho_boldcaps.otf) format("opentype");
}


@font-face {
    font-family: 'Library3am';
    src: url(/assets/fonts/library-3am/Library3am-5V3Z.otf) format("opentype");
}


body {
    scroll-behavior: smooth;
    font-family: h.$sanserif;
    background-color: black;
}

.background {
    background-image: url(/assets/images/homepage/background-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.overlay {

    background: h.$linear-gradient;

}

.ticker {
    display: flex;
    overflow: hidden;
    background: black;
    padding: 0.5em 0;

    @include h.responsive(largescreen) {
        padding: 1.05em 0;
    }

    @include h.responsive(tabscreenfour) {
        padding: 1em 0;
    }


    .ticker-list {

        display: flex;
        animation: ticker 20s infinite linear;
        color: h.$white;
        list-style: none;
        text-transform: uppercase;
        column-gap: 2em;

        @include h.responsive(largescreen) {
            column-gap: 8em;

        }

        .ticker-item {
            font-weight: h.$bold;
            font-family: h.$displaytwo;
            padding-left: 10em;
            padding-top: 0.4em;
            font-weight: h.$medium;
            font-size: 0.7rem;
            white-space: nowrap;
            letter-spacing: 0.3rem;
            text-shadow:
                0 0 5px h.$white,
                0 0 10px h.$white,
                0 0 15px h.$teal,
                0 0 25px h.$teal,
                0 0 35px h.$teal;
            animation: glow 1s ease-in-out infinite alternate;

            @include h.responsive(largescreen) {
                font-size: 1.25rem;
                letter-spacing: 0.55rem;
                text-shadow:
                    0 0 5px h.$white,
                    0 0 15px h.$white,
                    0 0 20px h.$teal,
                    0 0 30px h.$teal,
                    0 0 40px h.$teal,
                    0 0 55px h.$teal;
            }

            @include h.responsive(tabscreenfour) {
                font-size: 0.9rem;
                text-shadow:
                    0 0 5px h.$white,
                    0 0 15px h.$white,
                    0 0 20px h.$teal,
                    0 0 30px h.$teal,
                    0 0 40px h.$teal,
                    0 0 55px h.$teal;
            }
        }
    }
}

@keyframes ticker {
    100% {
        transform: translateX(-100%);
    }
}