// colors
$pink: #F3A8BA;
$dark: #080808;
$grey: #B0B0B0;
$white: #E5E5E5;
$teal2: #31535e;
$teal: #27cdff;
// $teal: #58d8ff;
$transparentpink:rgba(241, 168, 187, 0.31);
$transparentwhite: rgba(229, 229, 229, 0.06);
$semitransparentwhite: rgba(229, 229, 229, 0.27);
$transparentblack: rgba(0, 0, 0, 0.733);
$linear-gradient: linear-gradient(180deg, rgba(222, 155, 214, 0.2) -11.75%, rgba(95, 147, 164, 0.2) 88.25%);

// font family
$serif: 'Agatho',
serif;
$sanserif:'Poppins',
sans-serif;
$displaytwo: 'Library3am',
sans-serif;
// font weight
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;